
<h1><%= t('Login') %></h1>

<div id = 'log_in_form' class = 'basic_form' >
	<%= form_for(:session, url: sessions_path) do |t| %>
		
		<div><%= t.label :email, t('email') %></div>
		<div><%= t.text_field :email, placeholder: t('exampleEmail') %></div>
		
		<div><%= t.label :password, t('password') %></div>
		<div><%= t.password_field :password %></div>
		
		<%= t.submit t('Submit'), id: 'submit_button' %>
		
	<% end %>
</div>

<p><%= t('NoAccount') %>? <%= link_to t('Register'), secure_key_path %></p>