

<!-- <%= subscribe_to "/user/alert_request" %>
<%= javascript_include_tag '/tabs/alert_request.js' %> -->


<h2><%= t('bg') %> — <%= current_user.negotiation.scenario.title %></h2>

<% @scenario = current_user.negotiation.scenario %>

<p><%= @scenario.general %></p>

<h3><%= current_user.role %> <%= t('obj') %>:</h3>

<p>
 <%= first_user?(current_user) ? @scenario.first_role : @scenario.second_role %>
</p>
