
<h2><%= t('nego') %> <%= t('frenchcat') %></h2>

<div class = 'message_index'>
  <div class = 'container'>
    <%  @negotiation.messages.each do |message| %>
      <% if message.receiver == current_user %>
        <div class = 'receiver_message'><span><%= message.content %></span></div>
      <% else %>
        <div class = 'sender_message'><span><%= message.content %></span></div>
      <% end %>
    <% end %>
  </div>
  <div class = 'typing'>
	  <div class = 'typing_three'></div>
	  <div class = 'typing_two'></div>
	  <div></div>
  </div>
</div>
 
<%= text_area_tag :content, '', class: 'message_content expanding', autofocus: true %>