   
   
    <% unless user == current_user %>
    <tr class = 'user_entry table_entry' data-user-id = '<%= user.id %>' data-admin = '<%= user.admin %>' data-negotiation-id = "<%= user.negotiation.id if user.negotiation %>" >
      <td><%= user.subject_number %></td>
      <td><%= user.name %></td>
      <td><%= user.secure_key %></td>
      <td><%= user.online? %></td>
      <td><%= user.admin %></td>
    </tr>
    <% end %>