
<div id="tab-container" class="tab-container">
  <ul class='etabs' id = 'tabs_for_<%= current_user.id %>'>
    <% @tabs.each do |tab| %>
      <li class='tab_link'>
        <a href="#tab_<%= tab[:title].downcase %>"><%= tab[:title] %></a>
      </li>
    <% end %>
  </ul>
  
  <% @tabs.each do |tab| %>
    <div id="tab_<%= tab[:title].downcase %>" class = 'tab'>
      <%=  tab[:content] %>
    </div>
  <% end %>
</div>