<%= subscribe_to "/negotiation/admin/#{@negotiation.id}/new" %>
<%= javascript_include_tag "/tabs/private_pub_subscribe_admin.js?id=#{@negotiation.id}" %>

<h2 style = 'text-decoration:underline'>Negotiation <%= @negotiation.id %> History</h2>

<h3>Users</h3>
<table class = 'user_table'>
  
  <tr id = 'entry_definitions'>
    <td>ID</td>
    <td>Name</td>
    <td>Background Time</td>
    <td>Online</td>
    <td>Admin</td>
  </tr>
<%= render @negotiation.users %>

</table>


<% if @negotiation.first_user && @negotiation.second_user && @negotiation.first_user.agreement && @negotiation.second_user.agreement && @negotiation.first_user.agreement.description &&
@negotiation.second_user.agreement.description %>
<div id = 'agreement_description'>
	<fieldset>
		<legend>Agreement</legend>
		
		<div class = 'first_user'>
			<p><span>Yes/No:</span><%= @negotiation.first_user.agreement.agreement_boolean %></p>
			<p><span>Price:</span><%= @negotiation.first_user.agreement.price %></p>
			<p><span>Description:</span><%= @negotiation.first_user.agreement.description %></p>
		</div>
		
		<div class = 'second_user'>
			<p><span>Yes/No:</span><%= @negotiation.second_user.agreement.agreement_boolean %></p>
			<p><span>Price:</span><%= @negotiation.second_user.agreement.price %></p>
			<p><span>Description:</span><%= @negotiation.second_user.agreement.description %></p>
		</div>
		
	</fieldset>
</div>

<% end %>

<div id = 'message_history'>
  <% if @negotiation.messages.any? %>
    <%  @negotiation.messages.each do |message| %>
      <% if message.receiver == @negotiation.first_user %>
        <p><span><%= message.sender.username %>:<%= message.sender.id %>>> </span><%= message.content %></p>
      <% else %>
        <p><%= message.sender.username %>:<%= message.sender.id %>>> <%= message.content %></p>
      <% end %>
    <% end %>
  <% elsif @negotiation.users.count == 2 %>
    <h4>Neither user has send a message yet.</h4>
  <% else %>
      <% if @negotiation.users.count == 1 %>
       <h4>There is only one user in this negotiation.</h4>
      <% else %>
        <h4>There are no users in this negotiation yet.</h4>
      <% end %>
      
      
  <% end %>
  
</div>

